
        .news-section {
            max-width: 1250px;
            margin: auto;
        }



        /* HERO ARTICLE */

        .hero-card {
            position: relative;
            margin-bottom: 40px;
        }

        .hero-card img {
            width: 82%;
            height: 520px;
            object-fit: cover;
            display: block;
        }

        .hero-content {
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            width: 420px;
            background: var(--education);
            padding: 40px;
            box-shadow: 0 10px 30px rgba(0, 0, 0, .1);
        }

        .hero-content:hover .btn {
            background-color: var(--energy);
            color: var(--white);
            font-size:15px;
        }

        .category {
            font-size: 12px;
            text-transform: uppercase;
            color: #333;
            margin-bottom: 10px;
            letter-spacing: 1px;
        }

        .hero-content h3 {
            font-size: 2rem;
            font-weight: 800;
            line-height: 1.2;
            margin-bottom: 20px;
            color: #000;
        }

        .hero-content p {
            color: #222;
            line-height: 1.7;
            margin-bottom: 25px;
            font-size: 15px;
        }

        .btn {
            display: inline-block;
            background: #fff;
            color: #000;
            text-decoration: none;
            padding: 12px 22px;
            font-weight: 700;
            transition: .3s;
        }

        .btn:hover {
            transform: translateY(-3px);
        }

        /* GRID ARTICLES */

        .news-grid {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 30px;
        }

        .news-item {
            background: #ffffff00;
        }

        .news-item img {
            width: 100%;
            height: 320px;
            object-fit: cover;
        }

        .news-info {
            background: #fff;
            padding: 30px;
            margin-top: -27px;
            position: relative;
            width: 92%;
            right: -22px;
        }

        .news-info .category {
            margin-bottom: 12px;
            color: #666;
        }

        .news-info h4 {
            font-size: 1.8rem;
            line-height: 1.3;
            margin-bottom: 25px;
            font-weight: 800;
            color: #111;
        }

        .read-link {
            color: #000;
            font-weight: 700;
            text-decoration: none;
            border-bottom: 3px solid #f4c32c;
            padding-bottom: 4px;
        }

        .news-item:hover .read-link {
            color: #f7f6f3;
            background-color: var(--education);
            padding: 8px;
        }

        /* 
.latest-btn{
    text-align:center;
    margin-top:50px;
} */
        /*
.latest-btn a{
    text-decoration:none;
    color:#000;
    font-weight:800;
    letter-spacing:2px;
    text-transform:uppercase;
    border-bottom:3px solid #f4c32c;
    padding-bottom:8px;
}
*/
        /* RESPONSIVE */

        @media(max-width:992px) {

            .hero-card img {
                width: 100%;
                height: 400px;
            }

            .hero-content {
                position: relative;
                transform: none;
                width: 100%;
                top: auto;
                margin-top: -5px;
            }

            .news-grid {
                grid-template-columns: 1fr;
            }

        }

        @media(max-width:768px) {

            .section-title h2 {
                font-size: 1.6rem;
            }

            .hero-content h3 {
                font-size: 1.6rem;
            }

            .news-info h4 {
                font-size: 1.4rem;
            }

        }

        /*---------start blog section-------------*/
        .blog-grid {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
            gap: 30px;
            margin-top: 10px;
        }

        .blog-card {
            /*background: white;*/
            border-radius: 1px;
            overflow: hidden;
            box-shadow: var(--shadow);
            transition: var(--transition);
        }

        .program-image {
            height: 200px;
            overflow: hidden;
        }

        .program-image img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: var(--transition);
        }

        .blog-content {
            padding: 25px;
        }

        .blog-meta {
            display: flex;
            justify-content: space-between;
            font-size: 0.9rem;
            margin-bottom: 15px;
        }

        /*---------end blog section-------------*/
