
.margin-top{margin-top:100px !important;}
.testimonials-header-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top:90px;
}
.nav-btn {
    background: #f0f4f8;
    border: none;
    color: #0d1b2a;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    font-size: 0.85rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}
.testimonials-grid {
    display: grid;
    gap: 28px;
    grid-template-columns: repeat(3, minmax(0, 1fr));
}
.testimonial-card.active {
    display: flex;
    opacity: 1;
    transform: scale(1);
}

.testimonial-card {
    display: none;
    opacity: 0;
    transform: scale(0.95);
    transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
    background: #fff;
    padding: 40px 30px;
    border-radius: 10px;
    box-shadow: 0 15px 45px rgba(0, 50, 100, 0.05);
    display: flex;
    flex-direction: column;
    height: 100%;
    transition: transform 0.3s ease;
    border: 1px solid rgba(0, 0, 0, 0.02);
}
.card-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.category-text {
    font-size: 0.75rem;
    font-weight: 800;
    color: #0077B6;
    letter-spacing: 0.5px;
}
.quote-icon {
    font-size: 4rem;
    line-height: 0.5;
    color: #111;
    font-family: serif;
    font-weight: 900;
}
.testimonial-content {
    flex-grow: 1;
    margin-bottom: 1px;
}
.testimonial-content p {
    font-size: 1.05rem;
    color: #444;
    line-height: 1;
    font-style: italic;
    margin: 0;
}
.testimonial-footer-info {
    display: flex;
    align-items: center;
    gap: 15px;
    padding-top: 25px;
    border-top: 1px solid #f0f4f8;
}
.avatar {
    width:150px;
    height:150px;
    border-radius:4%;
    object-fit: cover;
    background: #eee;
}
.user-details .user-name {
    font-size: 1.1rem;
    font-weight: 700;
    color: #0d1b2a;
    margin: 0 0 4px 0;
}
.user-details .user-role {
    font-size: 0.65rem;
    font-weight: 700;
    color: #6c757d;
    margin: 0;
    letter-spacing: 0.5px;
    text-transform: uppercase;
}
.testimonials-cta {
    text-align: center;
    margin-top: 60px;
}
.cta-link {
    color: #1b5e20;
    font-size: 0.9rem;
    font-weight: 800;
    text-decoration: none;
    letter-spacing: 1px;
    transition: opacity 0.3s;
    width: 328px;
}
.cta-link:hover .arrow{font-size:1rem; color: #f6faf6;}
/* .cta-link:hover{width:454px;} */